// 1. membuat file _reset css dengan modules @use
@use 'submodules/reset';
@use 'submodules/variables';
@use 'submodules/mixin';

nav{
    position: relative;
    width:20vw;
    height: 100vh;
    background-color: variables.$primary-color;
     header{
        text-align: center;
        padding: 37px 40px 80px 40px;
     }
    a{
        display: inline-block;
         width: 260px;
         padding: 10px;
    }
    a:hover{
        background-color: variables.$secondary-color;
    }

    i{
        margin-left: 20px;
        margin-right: 15px;
    }
    
    .nav-footer{
        @include mixin.position-bottom();
        text-align: center;
        padding: 10px;
         i{
            color: variables.$secondary-color;
            display: inline-block;
        }
        h4{
            text-transform: capitalize;
            display: inline-block;
        }
    }
}


#content-center {
    width: 55vw;
    overflow: hidden;
    // overflow-y: auto;
    @include mixin.style-header();
    background-color: blue;
    header{
        @include mixin.display-flex(space-between,row);
    }
    .box-search{
        position: relative;
        input{
            @include mixin.style-input(300px,35px);  
        }
        i{
            @include mixin.position-right(10px,10px);
        }
    }

    .box-card{ 
        margin-top: 30px;
        @include mixin.display-flex(space-between,row);
        .card{
            background-color: variables.$primary-color;
            border-radius: 10px;
            padding: 20px;
        @include mixin.display-flex(space-between,row);
        @include mixin.style-box(210px,100px);
            i {
                margin-right: 10px;
              font-size: 25px;
              background-color:map-get( variables.$color-icon, 'succes');
              @include mixin.style-box(60px,60px);
              border-radius: 50%;
              @include mixin.display-flex(center,row);
            }
            .fa-stethoscope{
                background-color:map-get( variables.$color-icon, 'eye');
            }

            .content-card{
                p{
                    font-size: 12px;
                    font-weight: 700;
                    margin: -10px 0 0 0;
                }
                span{
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
    }
    
    .box-survey{
        @include mixin.style-wrapper();
        img{
            width: 100%;
            height: 100%;
        }
    }

    .box-table{
        @include mixin.style-wrapper();
        table{
            text-align: left;
            width: 100%;
            margin-top: 10px;


            #profil-name{
                @include mixin.display-flex(left);
                img{
                    @include mixin.style-img(23px,23px);
                    margin-right: 10px;
                }
            }
            td{
                font-size: 14px;
                font-weight: 600;
                color: rgba($color: #000000, $alpha: .7);
            }
           
            
        }

    }
    
    
   
}

#user{
    width: 25vw;
    padding: 37px 0px 80px 0px;
    background-color: red;
    .box-info-user{
        @include mixin.display-flex();
    }
    
    .box-detail-user{
        @include mixin.style-box(100%,min-content);
        background-color: variables.$secondary-color;
    }
}


