* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  background-color: #F5F6F8;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: no;
}

nav {
  position: relative;
  width: 20vw;
  height: 100vh;
  background-color: #FFFFFF;
}
nav header {
  text-align: center;
  padding: 37px 40px 80px 40px;
}
nav a {
  display: inline-block;
  width: 260px;
  padding: 10px;
}
nav a:hover {
  background-color: #F8947C;
}
nav i {
  margin-left: 20px;
  margin-right: 15px;
}
nav .nav-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
}
nav .nav-footer i {
  color: #F8947C;
  display: inline-block;
}
nav .nav-footer h4 {
  text-transform: capitalize;
  display: inline-block;
}

#content-center {
  width: 55vw;
  overflow: hidden;
  padding: 37px 40px 80px 40px;
  background-color: blue;
}
#content-center header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#content-center .box-search {
  position: relative;
}
#content-center .box-search input {
  width: 300px;
  height: 35px;
  border-radius: 20px;
  padding: 5px 5px 5px 15px;
  border: 0;
  outline: 0;
}
#content-center .box-search i {
  position: absolute;
  top: 10px;
  right: 10px;
}
#content-center .box-card {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#content-center .box-card .card {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 210px;
  height: 100px;
}
#content-center .box-card .card i {
  margin-right: 10px;
  font-size: 25px;
  background-color: green;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#content-center .box-card .card .fa-stethoscope {
  background-color: blue;
}
#content-center .box-card .card .content-card p {
  font-size: 12px;
  font-weight: 700;
  margin: -10px 0 0 0;
}
#content-center .box-card .card .content-card span {
  font-size: 20px;
  font-weight: 400;
}
#content-center .box-survey {
  margin-top: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px;
}
#content-center .box-survey img {
  width: 100%;
  height: 100%;
}
#content-center .box-table {
  margin-top: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px;
}
#content-center .box-table table {
  text-align: left;
  width: 100%;
  margin-top: 10px;
}
#content-center .box-table table #profil-name {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
}
#content-center .box-table table #profil-name img {
  background-color: #F8947C;
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
}
#content-center .box-table table td {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

#user {
  width: 25vw;
  padding: 37px 0px 80px 0px;
  background-color: red;
}
#user .box-info-user {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#user .box-detail-user {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  background-color: #F8947C;
}/*# sourceMappingURL=main.css.map */