* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  background-color: #F5F6F8;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: no;
}

nav {
  position: relative;
  width: 20vw;
  height: 100vh;
  background-color: #FFFFFF;
}
nav header {
  text-align: center;
  padding: 37px 40px 80px 40px;
}
nav a {
  display: inline-block;
  width: 260px;
  padding: 10px;
}
nav a:hover {
  background-color: #F8947C;
}
nav i {
  margin-left: 20px;
  margin-right: 15px;
}
nav .nav-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
}
nav .nav-footer i {
  color: #F8947C;
  display: inline-block;
}
nav .nav-footer h4 {
  text-transform: capitalize;
  display: inline-block;
}

.wrapper {
  height: 100vh;
  display: flex;
  overflow-y: auto;
}

#content-center {
  width: 55vw;
  padding: 37px 40px 80px 40px;
}
#content-center header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#content-center .box-search {
  position: relative;
}
#content-center .box-search input {
  width: 300px;
  height: 35px;
  border-radius: 20px;
  padding: 5px 5px 5px 15px;
  border: 0;
  outline: 0;
}
#content-center .box-search i {
  position: absolute;
  top: 10px;
  right: 10px;
}
#content-center .box-card {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#content-center .box-card .card {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 210px;
  height: 100px;
}
#content-center .box-card .card i {
  margin-right: 10px;
  font-size: 25px;
  background-color: green;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#content-center .box-card .card .fa-stethoscope {
  background-color: blue;
}
#content-center .box-card .card .content-card p {
  font-size: 12px;
  font-weight: 700;
  margin: -10px 0 0 0;
}
#content-center .box-card .card .content-card span {
  font-size: 20px;
  font-weight: 400;
}
#content-center .box-survey {
  margin-top: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px;
}
#content-center .box-survey img {
  width: 100%;
  height: 100%;
}
#content-center .box-table {
  margin-top: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px;
}
#content-center .box-table table {
  text-align: left;
  width: 100%;
  margin-top: 10px;
}
#content-center .box-table table #profil-name {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
}
#content-center .box-table table #profil-name img {
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1 solid black;
  margin-right: 10px;
}
#content-center .box-table table td {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

#user {
  width: 25vw;
  padding: 37px 30px 80px 30px;
}
#user .box-info-user {
  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
}
#user .box-info-user .box-notifikasi i {
  background-color: #FFFFFF;
  margin-right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1 solid black;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#user .box-info-user .box-notifikasi {
  position: relative;
}
#user .box-info-user .box-notifikasi::before {
  content: "18";
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  background-color: #F8947C;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1 solid black;
  position: absolute;
  position: absolute;
  top: -12px;
  right: 5px;
}
#user .box-info-user .box-profil img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1 solid black;
}
#user .box-detail-user {
  margin-top: 30px;
  border-radius: 10px;
  padding: 30px 20px;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  background-color: #F8947C;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#user .box-detail-user img {
  margin-top: -15px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid green;
}
#user .box-detail-user .detail-user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#user .box-detail-user .detail-user p {
  font-size: 12px;
  margin-bottom: 10px;
}
#user .box-detail-user .detail-user h5 {
  font-weight: 500;
}
#user .box-detail-user .detail-user button {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 0;
  outline: 0;
}
#user .box-penyakit {
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: #FFFFFF;
}
#user .box-penyakit .box-keterangan-penyakit {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#user .box-penyakit .box-keterangan-penyakit img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#user .box-penyakit .box-keterangan-penyakit h4 {
  font-weight: 600;
}
#user .box-penyakit .box-keterangan-penyakit p {
  font-size: 12px;
  margin-bottom: 10px;
}
#user .box-penyakit .box-keterangan-penyakit button {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 0;
  outline: 0;
}
#user .box-gender {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
#user .box-gender .circle-gender {
  margin: 10px 0;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  border-right: 30px solid blue;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#user .box-gender .keterangan-gender {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
}
#user .box-gender .keterangan-gender span::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1 solid black;
  margin-right: 10px;
}
#user .box-gender .keterangan-gender .staff::before {
  background-color: green;
}
#user .box-gender .keterangan-gender .female::before {
  background-color: red;
}
#user .box-gender .keterangan-gender .male::before {
  background-color: blue;
}/*# sourceMappingURL=main.css.map */