@use 'variables';
@mixin display-flex($space: center,$direction: row){
    display: flex;
    justify-content: $space;
    flex-direction: $direction;
    align-items: center;
}

@mixin position-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
@mixin position-right($top: 0,$right: 0){
    position: absolute;
    top: $top;
    right: $right;
}

@mixin style-header(){
    padding: 37px 40px 80px 40px;
}

@mixin style-input($width: 200px,$height: 35px){
    width: $width;
    height: $height;
    border-radius: 20px;
    padding: 5px 5px 5px 15px;
    border: 0;
    outline: 0;
}

@mixin style-box($width,$height){
    width: $width;
    height: $height;
}

@mixin style-wrapper(){
         margin-top: 30px;
        background-color: variables.$primary-color;
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;
        padding: 20px;
}

@mixin style-img($width,$height){
    background-color: variables.$secondary-color;
    display: inline-block;
    width: $width;
    height: $height;
    border-radius: 50%;
    border: 1px solid black;
    // outline: 0;
    // border: 0;

}

